<% content_for :title, "New background" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New backgrounds</h1>

  <%= form_with(url: backgrounds_path, class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :files %>
      <%= form.file_field :files, multiple: true, required: true, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <%= link_to "Back to backgrounds", backgrounds_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
